@* @page "/specialoffers"

<h1>Special Offers</h1>

<CascadingValue Name="DealName" >
    
    <ComponentFilhoCascade>

    </ComponentFilhoCascade>
    <!-- Any descendant component rendered here will be able to access the cascading value. -->
</CascadingValue>
 *@