@page "/pizzas-toppings"

<h1>Our Latest Pizzas and Topping</h1>

<Pizzas PizzaName="NomeTeste"></Pizzas>

<PizzaToppingComponent Topping="@(new PizzaTopping { Name = "Chilli Sauce", Ingredients = "Three kinds of chilli." })" />